<div class="mainpanel">
<!--content area start-->
<div id="content_area">
  <div class="contentpanel" >
        <div class="content-box">
          
          <!--start-->
          <div class="contentpanel">
           <div class="box1">
              <div class="row">
                 <div class="col-md-12">
                    <div class="activities-tabs">
                       <ul>
                          <li><a href="/app/views/#!/storagelocation/edit/{{ storagelocationDetails.id }}"><img src="">Edit</a></li>

                          <li><a class="" href="/app/views/#!/storagelocations"><img src="">Back</a></li>
                       </ul>
                    </div>
                 </div>
              </div>
           </div>

           <div class="content-box">
              <div class="row">
                 <div class="col-sm-12 col-md-12">
                    <div class="contentwrapper">
                       <div class="content-container">
                          <h1>View Storage Location</h1>
                          <div class="form-box form-label">
                             <div class="row clear-box">
                                <div class="col-md-6">
                                   <div class="form-group">
                                      <label class="col-sm-2 clear-box control-label">First Label:</label>
                                      <div class="col-sm-10">
                                         {{ storagelocationDetails.label }} 
                                      </div>
                                   </div>
                                </div>
                                <div class="col-md-6">
                                   <div class="form-group">
                                      <label class="col-sm-2 clear-box control-label">Address 1:</label>
                                      <div class="col-sm-10">
                                         {{ storagelocationDetails.address1 }}
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="row clear-box">
                                <div class="col-md-6">
                                   <div class="form-group">
                                      <label class="col-sm-2 clear-box control-label">Address 2:</label>
                                      <div class="col-sm-10">
                                         {{ storagelocationDetails.address2 }}
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="row clear-box">
                                <div class="col-md-6">
                                   <div class="form-group">
                                      <label class="col-sm-2 clear-box control-label">City:</label>
                                      <div class="col-sm-10">
                                         {{ storagelocationDetails.city }}
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="row clear-box">
                                <div class="col-md-6">
                                   <div class="form-group">
                                      <label class="col-sm-2 clear-box control-label">State:</label>
                                      <div class="col-sm-10">
                                         {{ storagelocationDetails.state }}
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="row clear-box">
                                <div class="col-md-6">
                                   <div class="form-group">
                                      <label class="col-sm-2 clear-box control-label">Country:</label>
                                      <div class="col-sm-10">
                                         {{ storagelocationDetails.country }}
                                      </div>
                                   </div>
                                </div>
                             </div>
                             <div class="row clear-box">
                                <div class="col-md-6">
                                   <div class="form-group">
                                      <label class="col-sm-2 clear-box control-label">Zip Code:</label>
                                      <div class="col-sm-10">
                                         {{ storagelocationDetails.zipCode }}
                                      </div>
                                   </div>
                                </div>
                             </div>
                             
                          </div>
                       </div>
                    </div>
                 </div>
              </div>
              <!-- row -->
           </div>
          </div>

          <!--end  -->


        </div>
      </div>
  </div>
</div>