<div class="leftpanel">
   <div class="logopanel">
      <h1>Electrovessel</h1>
      <img src="/app/assets/images/close-icon.jpg" class="close-icon pull-right menutoggle">
   </div>
   <!-- logopanel -->
   <div class="leftpanelinner">
      <!-- This is only visible to small devices -->
      <div class="">
         <div class="media userlogged">
            <img alt="" src="/app/assets/images/default-logo.png" class="">
            <div class="media-body">
               <h4>Welcome back <v id="user_firstName"></v></h4>
               <span>Last login: 01:12 am 03/25/2017</span>
            </div>
         </div>

         <ul class="nav nav-pills nav-stacked nav-bracket mb30">
            <li><a href="/app/views/#!/dashboard"><span>Dashboard</span></a></li>
            <li><a href="#"><span>Cargo</span></a></li>
            <li><a href="#"><span>Cargo Document</span></a></li>
            <li><a href="cargo_tag_group.html"><span>Cargo Tag Group</span></a></li>
            <li><a href="#"><span>Cargo Text Tag</span></a></li>
            <li><a href="#"><span>Cargoe Tag Value</span></a></li>
            <li><a href="#"><span>Storage Location</span></a></li>
            <li><a href="/app/views/#!/agents"><span>Agent</span></a></li>
            <li><a href="#"><span>Customer</span></a></li>

            <li><a href="#"><span>Subscription</span></a></li>
            <li><a href="#"><span>Invoice</span></a></li>
            <li><a href="#"><span>Invoice Item</span></a></li>
            <li><a href="#"><span>Setting </span></a></li>
            <li>
               <a href="#" id="logout_button">
                   <span >Log Out</span>
               </a>
            </li>
         </ul>
      </div>
   </div>
   <!-- leftpanelinner -->
</div>
<!-- leftpanel -->