<div class="headerbar">
   <a class="menutoggle bar-icon"><i class="fa fa-bars"></i>
   Electrovessal</a>
   <div class="header-right">
      <ul class="headermenu">
         <li>
            <input type="text" class="form-control search-box-top " name="keyword" placeholder="Search here..." />
         </li>
         <li>
            <button id="chatview" class="btn btn-default tp-icon chat-icon">
            <i class="glyphicon glyphicon-bell"></i>
            </button>
         </li>
      </ul>
   </div>
   <!-- header-right -->
</div>
<!-- headerbar -->