<!-- <script>
if(sessionStorage.getItem("user_login") != "true"){
	window.location = 'login.html';
}
</script> -->

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Electrovessal</title>

    <!-- Styles -->
    <link href="/app/assets/css/style.default.css" rel="stylesheet">
   

    <!-- Scripts -->
    <script src="/app/assets/js/app.js"></script>
    <script src="/app/assets/js/jquery-1.11.1.min.js"></script>
    <script src="/app/assets/js/jquery-migrate-1.2.1.min.js"></script>
    <script src="/app/assets/js/jquery-ui-1.10.3.min.js"></script>
    <script src="/app/assets/js/bootstrap.min.js"></script>
    <script src="/app/assets/js/jquery.sparkline.min.js"></script>
    <script src="/app/assets/js/toggles.min.js"></script>
    <script src="/app/assets/js/jquery.cookies.js"></script>
    
</head>
<body>
     
      <section>
        <!--leftpanel start-->
        <div class="leftpanel">
   <div class="logopanel">
      <h1>Electrovessel</h1>
      <img src="/app/assets/images/close-icon.jpg" class="close-icon pull-right menutoggle">
   </div>
   <!-- logopanel -->
   <div class="leftpanelinner">
      <!-- This is only visible to small devices -->
      <div class="">
         <div class="media userlogged">
            <img alt="" src="/app/assets/images/default-logo.png" class="">
            <div class="media-body">
               <h4>Welcome back <v id="user_firstName"></v></h4>
               <span>Last login: 01:12 am 03/25/2017</span>
            </div>
         </div>

         <ul class="nav nav-pills nav-stacked nav-bracket mb30">
            <li><a href="#"><span>Dashboard</span></a></li>
            <li><a href="#"><span>Cargo</span></a></li>
            <li><a href="#"><span>Cargo Document</span></a></li>
            <li><a href="cargo_tag_group.html"><span>Cargo Tag Group</span></a></li>
            <li><a href="#"><span>Cargo Text Tag</span></a></li>
            <li><a href="#"><span>Cargoe Tag Value</span></a></li>
            <li><a href="#"><span>Storage Location</span></a></li>
            <li><a href="#"><span>Agent</span></a></li>
            <li><a href="#"><span>Customer</span></a></li>

            <li><a href="#"><span>Subscription</span></a></li>
            <li><a href="#"><span>Invoice</span></a></li>
            <li><a href="#"><span>Invoice Item</span></a></li>
            <li><a href="#"><span>Setting </span></a></li>
            <li>
               <a href="#" id="logout_button">
                   <span >Log Out</span>
               </a>
            </li>
         </ul>
      </div>
   </div>
   <!-- leftpanelinner -->
  </div>
        <!-- leftpanel end -->

         <div class="mainpanel">
            <!--headerbar start-->
            <div class="headerbar" id="headerbar">
               <a class="menutoggle bar-icon" style="display:none;"><i class="fa fa-bars"></i>
               Electrovessal</a>
               <div class="header-right">
                  <ul class="headermenu">
                     <li>
                        <input type="text" class="form-control search-box-top " name="keyword" placeholder="Search here..." />
                     </li>
                     <li>
                        <button id="chatview" class="btn btn-default tp-icon chat-icon">
                        <i class="glyphicon glyphicon-bell"></i>
                        </button>
                     </li>
                  </ul>
               </div>
               <!-- header-right -->
            </div>
            <!-- headerbar end-->

            <!--content area start-->
            <div class="contentpanel">
               <div class="row">
                  <div class="col-sm-12 col-md-12">
                     <div class="contentwrapper">
                        <h1>here are today’s updates for you</h1>
                        <div class="row">
                           <div class="col-md-6">
                              <div class="open-and-dropdown-box">
                                 <ul>
                                    <li>
                                       <div class="col-md-4">
                                          <select class="form-control">
                                            <option>Open</option>
                                          </select> 
                                       </div>
                                       <div class="col-md-8 text-center">
                                          <span>cargoes</span>
                                       </div>
                                    </li>
                                    <li>
                                       <div class="col-md-4">
                                          <select class="form-control">
                                            <option>10 Days</option>
                                          </select>
                                       </div>
                                       <div class="col-md-8 text-center">
                                          <span>to expected arrival</span>
                                       </div>
                                    </li>
                                 </ul>
                              </div>
                           </div>   
                        </div>
                        <div class="chart-box">
                           <!-- <img src="{{ asset('images/graph-box.jpg" class="img-responsive"> -->


                              <div class="row">
                                 <div class="col-md-12">
                                       <div class="circular-pie-chart">
                                          <div id="jquery-script-menu"></div>
                                          <div class="col-md-2">
                                             <div id="demo-pie-1" class="pie-title-center" data-percent="50"> 
                                                <span class="pie-value"></span> 
                                             </div>
                                          </div>
                                          <div class="col-md-2">
                                             <div id="demo-pie-2" class="pie-title-center" data-percent="50"> 
                                                <span class="pie-value"></span> 
                                             </div>
                                          </div>
                                          <div class="col-md-2">  
                                             <div id="demo-pie-3" class="pie-title-center" data-percent="50"> 
                                                <span class="pie-value"></span> 
                                             </div>
                                          </div>
                                          <div class="col-md-2">  
                                             <div id="demo-pie-4" class="pie-title-center" data-percent="50"> 
                                                <span class="pie-value"></span> 
                                             </div>
                                          </div>   
                                          <div class="col-md-2">
                                             <div id="demo-pie-5" class="pie-title-center" data-percent="50"> 
                                                <span class="pie-value"></span> 
                                             </div>
                                          </div>
                                       </div>
                                 </div>
                              </div>
                        </div>
                        <div class="content-container">
                           <div class="content-box">
                              <h1>container header</h1>
                           </div>
                        </div>
                     </div>
                  </div>
                  <!-- col-sm-6 -->
               </div>
               <!-- row -->
            </div>
            <!-- contentpanel -->
            <!--content area end  -->

         </div>
         <!-- mainpanel -->


         <div class="rightpanel">
            <!-- Nav tabs -->
            <ul class="nav nav-tabs nav-justified">
               <li class="active"><a href="#rp-alluser" data-toggle="tab"><img src="/app/assets/images/close-icon.jpg" class="chat-icon notification_icon" width="20"></a></li>
            </ul>
            <!-- Tab panes -->
            <div class="tab-content">
               <div class="tab-pane active" id="rp-alluser">
                  <h5 class="sidebartitle">Online Users</h5>
                  <ul class="chatuserlist">
                     <li class="online">
                        <div class="media">
                           <a href="#" class="pull-left media-thumb">
                           <img alt="" src="/app/assets/images/pic.png" class="media-object">
                           </a>
                           <div class="media-body">
                              <strong>Eileen Sideways</strong>
                              <small>Los Angeles, CA</small>
                           </div>
                        </div>
                        <!-- media -->
                     </li>
                     <li class="online">
                        <div class="media">
                           <a href="#" class="pull-left media-thumb">
                           <img alt="" src="/app/assets/images/pic.png" class="media-object">
                           </a>
                           <div class="media-body">
                              <span class="pull-right badge badge-danger">2</span>
                              <strong>Zaham Sindilmaca</strong>
                              <small>San Francisco, CA</small>
                           </div>
                        </div>
                        <!-- media -->
                     </li>
                     <li class="online">
                        <div class="media">
                           <a href="#" class="pull-left media-thumb">
                           <img alt="" src="/app/assets/images/pic.png" class="media-object">
                           </a>
                           <div class="media-body">
                              <strong>Nusja Nawancali</strong>
                              <small>Bangkok, Thailand</small>
                           </div>
                        </div>
                        <!-- media -->
                     </li>
                     <li class="online">
                        <div class="media">
                           <a href="#" class="pull-left media-thumb">
                           <img alt="" src="/app/assets/images/pic.png" class="media-object">
                           </a>
                           <div class="media-body">
                              <strong>Renov Leongal</strong>
                              <small>Cebu City, Philippines</small>
                           </div>
                        </div>
                        <!-- media -->
                     </li>
                     <li class="online">
                        <div class="media">
                           <a href="#" class="pull-left media-thumb">
                           <img alt="" src="/app/assets/images/pic.png" class="media-object">
                           </a>
                           <div class="media-body">
                              <strong>Weno Carasbong</strong>
                              <small>Tokyo, Japan</small>
                           </div>
                        </div>
                        <!-- media -->
                     </li>
                  </ul>
               </div>
            </div>
            <!-- tab-content -->
         </div>
         <!-- rightpanel -->
      </section>

    <script src="/app/assets/js/custom.js"></script>
    <!--chart js-->
    <script src="/app/assets/js/pie-chart.js"></script>
    <script type="text/javascript">
         $(document).ready(function () {
            $('#demo-pie-1').pieChart({
               barColor: '#00aeef',
               trackColor: '#eee',
               //lineCap: 'round',
               lineCap: 'square',
               lineWidth: 15,
               rotate: -90,
               onStep: function (from, to, percent) {
                  $(this.element).find('.pie-value').text('20 / 100' + '\n' + 'CARGOS');
               }
            });

            $('#demo-pie-2').pieChart({
               barColor: '#00aeef',
               trackColor: '#eee',
               //lineCap: 'butt',
               lineCap: 'square',
               lineWidth: 15,
               rotate: -90,
               onStep: function (from, to, percent) {
                  $(this.element).find('.pie-value').text( '5 / 10' + '\n' + 'CARGOS');
               }
            });

            $('#demo-pie-3').pieChart({
               barColor: '#00aeef',
               trackColor: '#eee',
               lineCap: 'square',
               lineWidth: 15,
               rotate: -90,
               onStep: function (from, to, percent) {
                  $(this.element).find('.pie-value').text('5 / 10' + '\n' + 'CARGOS');
               }
            });

            $('#demo-pie-4').pieChart({
               barColor: '#00aeef',
               trackColor: '#eee',
               lineCap: 'square',
               lineWidth: 15,
               rotate: -90,
               onStep: function (from, to, percent) {
                  $(this.element).find('.pie-value').text('5 / 10' + '\n' + 'USER');
               }
            });

            $('#demo-pie-5').pieChart({
               barColor: '#00aeef',
               trackColor: '#eee',
               lineCap: 'square',
               lineWidth: 15,
               rotate: -90,
               onStep: function (from, to, percent) {
                  $(this.element).find('.pie-value').text('250 / 300' + '\n' + 'AGENT');
               }
            });
         });
    </script>
    

    <script type="text/javascript">
      //$(document).ready(function(){
      $(document).on('ready',function(){   

         $("#leftpanel").load("assets/includes/leftpanel.html",function(){
            $("#user_firstName").html(sessionStorage.getItem("user_name"));   
         });  

         /*$("#headerbar").load("assets/includes/headerbar.html",function(){
            //
         });*/



      	//user_firstName
      	//$("#user_firstName").html(sessionStorage.getItem("user_name"));
         //document.getElementById('user_firstName').innerHTML = 'Vij' ;
         //alert(document.getElementById('user_firstName'));

      	$(document).on('click','#logout_button',function(){
      		sessionStorage.clear();
      		window.location = 'login.html';
      	});
      })
    </script>
</body>
</html>

