<div class="mainpanel">
   <!--content area start-->
   <div class="contentpanel">
      <div class="row">
         <div class="col-sm-12 col-md-12">
            <div class="contentwrapper">
               <h1>here are today’s updates for you</h1>
               <div class="row">
                  <div class="col-md-6">
                     <div class="open-and-dropdown-box">
                        <ul>
                           <li>
                              <div class="col-md-4">
                                 <select class="form-control">
                                   <option>Open</option>
                                 </select> 
                              </div>
                              <div class="col-md-8 text-center">
                                 <span>cargoes</span>
                              </div>
                           </li>
                           <li>
                              <div class="col-md-4">
                                 <select class="form-control">
                                   <option>10 Days</option>
                                 </select>
                              </div>
                              <div class="col-md-8 text-center">
                                 <span>to expected arrival</span>
                              </div>
                           </li>
                        </ul>
                     </div>
                  </div>   
               </div>
               <div class="chart-box">
                  <!-- <img src="{{ asset('images/graph-box.jpg" class="img-responsive"> -->


                     <div class="row">
                        <div class="col-md-12">
                              <div class="circular-pie-chart">
                                 <div id="jquery-script-menu"></div>
                                 <div class="col-md-2">
                                    <div id="demo-pie-1" class="pie-title-center" data-percent="50"> 
                                       <span class="pie-value"></span> 
                                    </div>
                                 </div>
                                 <div class="col-md-2">
                                    <div id="demo-pie-2" class="pie-title-center" data-percent="50"> 
                                       <span class="pie-value"></span> 
                                    </div>
                                 </div>
                                 <div class="col-md-2">  
                                    <div id="demo-pie-3" class="pie-title-center" data-percent="50"> 
                                       <span class="pie-value"></span> 
                                    </div>
                                 </div>
                                 <div class="col-md-2">  
                                    <div id="demo-pie-4" class="pie-title-center" data-percent="50"> 
                                       <span class="pie-value"></span> 
                                    </div>
                                 </div>   
                                 <div class="col-md-2">
                                    <div id="demo-pie-5" class="pie-title-center" data-percent="50"> 
                                       <span class="pie-value"></span> 
                                    </div>
                                 </div>
                              </div>
                        </div>
                     </div>
               </div>
               <div class="content-container">
                  <div class="content-box">
                     <h1>container header</h1>
                  </div>
               </div>
            </div>
         </div>
         <!-- col-sm-6 -->
      </div>
      <!-- row -->
   </div>
   <!-- contentpanel -->
   <!--content area end  -->

 </div>
 <!--chart js-->
<script src="/app/assets/js/pie-chart.js"></script>
<script type="text/javascript">
     $(document).ready(function () {
        $('#demo-pie-1').pieChart({
           barColor: '#00aeef',
           trackColor: '#eee',
           //lineCap: 'round',
           lineCap: 'square',
           lineWidth: 15,
           rotate: -90,
           onStep: function (from, to, percent) {
              $(this.element).find('.pie-value').text('20 / 100' + '\n' + 'CARGOS');
           }
        });

        $('#demo-pie-2').pieChart({
           barColor: '#00aeef',
           trackColor: '#eee',
           //lineCap: 'butt',
           lineCap: 'square',
           lineWidth: 15,
           rotate: -90,
           onStep: function (from, to, percent) {
              $(this.element).find('.pie-value').text( '5 / 10' + '\n' + 'CARGOS');
           }
        });

        $('#demo-pie-3').pieChart({
           barColor: '#00aeef',
           trackColor: '#eee',
           lineCap: 'square',
           lineWidth: 15,
           rotate: -90,
           onStep: function (from, to, percent) {
              $(this.element).find('.pie-value').text('5 / 10' + '\n' + 'CARGOS');
           }
        });

        $('#demo-pie-4').pieChart({
           barColor: '#00aeef',
           trackColor: '#eee',
           lineCap: 'square',
           lineWidth: 15,
           rotate: -90,
           onStep: function (from, to, percent) {
              $(this.element).find('.pie-value').text('5 / 10' + '\n' + 'USER');
           }
        });

        $('#demo-pie-5').pieChart({
           barColor: '#00aeef',
           trackColor: '#eee',
           lineCap: 'square',
           lineWidth: 15,
           rotate: -90,
           onStep: function (from, to, percent) {
              $(this.element).find('.pie-value').text('250 / 300' + '\n' + 'AGENT');
           }
        });
     });
</script>